* {
    margin: 0;
    /* padding: 0; */
}

ul {
    list-style-type: none;
}


.header {
    background-color: #586e84;
    color: #e6e8efcf;
    font-weight: 900;
    padding: 20px;
}


.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
